{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Fundación ayudar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'estilo.css' %}">
</head>
<body>

<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/" class="w3-bar-item w3-button w3-wide"> <img src="{% static 'logo1.png' %}" alt="" width="28px"> FUNDACIÓN AYUDAR</a>
   
    <div class="w3-right w3-hide-small">
   
      <a href="/aporte_total/" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> TOTAL APORTADO </a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-male"></i> {{user.username}} </a>
     
   {% if user.is_authenticated %}
   <a href="/logout/" class="w3-bar-item w3-button"><i class="fa fa-user"> </i> LogOut</a>
   {% else %}
  <a href="/login/" class="w3-bar-item w3-button"><i class="fa fa-user"> </i> Login</a>
{% endif %}
   <a href="/registro_aportadores/" class="w3-bar-item w3-button"><i class="fa fa-user"> </i> REGISTRO</a>

    </div>
  
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>
 <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">CERRAR ×</a>
   <a href="#" onclick="w3_close()" class="w3-bar-item w3-button"> {{user.username}}</a>
  {% if user.is_authenticated %}
   <a href="/logout/" class="w3-bar-item w3-button">LogOut</a>
   {% else %}
  <div class="w3-dropdown-hover w3-bar-item" >
  <button class="w3-button" style="padding-top: 7px;">LOGIN</button>
  <div class="w3-dropdown-content w3-bar-block w3-border">
    <a href="/login/" class="w3-bar-item w3-button"> <i class="fa fa-star"></i> Login </a>
    <a href="/login_aportador/" class="w3-bar-item w3-button"> <i class="fa fa-star"></i> Login Socio</a>
    <a href="/login_gestor_finanzas/" class="w3-bar-item w3-button"> <i class="fa fa-star"></i> Login Finanzas</a>    
    
    
  </div>
</div>
{% endif %}
 
  <a href="/registro_aportadores/" onclick="w3_close()" class="w3-bar-item w3-button">REGISTRO</a>
  <a href="/aporte_total/" onclick="w3_close()" class="w3-bar-item w3-button">APORTE TOTAL</a>


</nav> 


<div class="w3-container w3-center">{% block contenido %} {% endblock %} </div>


<footer class="w3-center w3-black w3-padding-64">

  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>

function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
