{% extends 'home.html' %}
{% block contenido %}
{% load static%}


 <div class="w3-row w3-justify-content" >
<div class="w3-col w3-third  w3-center" >
<form method="POST" class="form-container">
  <h1>Necesitamos tú ayuda</h1>  
  <h2>Login Socios</h2>
    <div id="contenedor_img">
      <img src="{% static 'logo1.png' %}" alt="" width="60px">
    </div>

    {% csrf_token %}
  
 {{formulario }}
    

    <button type="submit" class="w3-button w3-black">Login</button>
  </form>
  </div>
 </div>
{% endblock %}