{% extends 'home.html' %} {% block contenido %} {% load static%}

<div class="w3-row w3-justify-content">
   
  <div class="w3-col w3-third w3-center">

    <h2>Gracias por colaborar</h2>
    <div id="contenedor_img">
      <img src="{% static 'logo1.png' %}" alt="" width="60px" />
    </div>
     <div class="w3-panel w3-card w3-padding-16">
    <table class="w3-table  w3-striped" >
      <tbody>
        <tr>
          <td><h3>Nombre Usuario</h3></td>
          <td><h3>{{perfil.user.username }}</h3></td>
        </tr>

        <tr>
          <td>Nombre</td>
          <td>{{perfil.user.first_name }}</td>
        </tr>
        <tr>
          <td>Apellido</td>
          <td>{{perfil.user.last_name}}</td>
        </tr>

        <tr>
          <td>Correo</td>
          <td>{{perfil.user.email }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    <br />
 

   
    <h3>Realiza tu aporte</h3>
    <div class="w3-panel w3-card w3-padding-16">
      <form action="/agregar_monto/" method="POST">
        {% csrf_token %} {{formulario }}<br />
        <button class="w3-btn w3-black" type="submit">Realizar aporte</button>
      </form>
    </div>
  </div>
   <div class="w3-col w3-third w3-center">
      <div class="w3-panel w3-card w3-padding-16">
<h2>Aportes</h2>
 <table class="w3-table  w3-striped" >

    <thead>
        <tr>
            <th>Aporte</th>
           <th> Fecha</th>
        </tr>
    </thead>
    <tbody>
  {% for ap in beneficios %} 
  <tr>
    <td> {{ap.total}} </td><td>{{ap.fecha_creacion}}</td>
  </tr>

    {% endfor %}

    </tbody>
</table>
</div>
   </div>
</div>
{% endblock %}
